arabic-reshaper==2.0.15
asn1crypto==1.4.0
astroid==2.3.3
astunparse==1.6.2
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
cycler==0.10.0
decorator==4.4.2
esprima==4.0.1
et-xmlfile==1.0.1
freetype-py==2.1.0.post1
future==0.18.2
gevent==1.4.0
gitdb2==2.0.6
GitPython==3.0.5
glfw==1.8.7
greenlet==0.4.15
idna==2.8
imageio==2.6.1
imageio-ffmpeg==0.3.0
isort==4.3.21
jdcal==1.4.1
jedi==0.15.1
joblib==0.13.2
json-tricks==3.13.5
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
matplotlib==3.1.2
mccabe==0.6.1
moviepy==1.0.1
msgpack==0.6.2
msgpack-numpy==0.4.4.3
numexpr==2.7.0
numpy==1.17.4
openpyxl==3.0.2
pandas==0.25.3
parso==0.5.1
Pillow==6.2.1
proglog==0.1.9
psutil==5.6.7
PsychoPy==3.2.3
pycparser==2.19
pyglet==1.4.8
PyOpenGL==3.1.4
pyOpenSSL==19.1.0
pyosf==1.0.5
pyparallel==0.2.2
pyparsing==2.4.5
pyserial==3.4
python-bidi==0.4.2
python-dateutil==2.8.1
python-gitlab==1.14.0
pytz==2019.3
PyYAML==5.2
pyzmq==18.1.1
questplus==2019.1
requests==2.22.0
scikit-learn==0.21.3
scipy==1.3.3
six==1.15.0
smmap==3.0.4
smmap2==3.0.1
snowballstemmer==2.0.0
sounddevice==0.3.14
SoundFile==0.10.3.post1
tables==3.6.1
tqdm==4.40.2
typed-ast==1.4.1
urllib3==1.24.2
wrapt==1.11.2
xarray==0.14.1
xlrd==1.2.0
